
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <div class="md-float-material">
            <div class="text-center">
              <img src="assets/img/blood-donation-logo.png" alt="Gradient Able">
            </div>
            <div class="auth-box">
              <div class="row m-b-10">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Sign In</h3>
                </div>
              </div>

              <hr/>
              <div class="col-md-11 col-md-offset-5">
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-danger" [hidden]="isAuth">Access denied!</p>
                  </div>
                </div>

              <div class="form-group row">
                <div class="col-md-3 ">
                <input type="text" class="form-control " placeholder="Your Email Address or Username" [(ngModel)]="username">
                <span class="md-line"></span>
              </div>
              </div>
              <div class="form-group row">
                <div class="col-md-3">
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" (keydown.enter)="login()">
                <span class="md-line"></span>
              </div>
              </div>
              <div class="row m-t-25 text-center">
                <div class="col-md-3">
                  <div class="checkbox-fade fade-in-primary d-">
                    <label>
                      <input type="checkbox" value="">
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                  <div class="forgot-phone text-center f-right">
                    <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> Forgot Password?</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-3">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" (click)="login()">Sign in</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                </div>
              </div>
              </div>


            </div>
          </div>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>

