
    <div class="row" style="margin-left: 10px;">
      <h2>About different blood types</h2>
      <p>Find out more about your blood type.</p>
    </div>


<div data-container="true" style="margin-left: 10px;">
  <div class="row clearfix">
    <div class="col-md-4 column">
      <div>



          <div class="card__image">
            <img
              src="/assets/img/0+.png" width="260px" height="125px"  alt="29720 000np Know Your Type - Web Buttons 400px x 170px (Blood Type) O+.png">
          </div>
          <div class="card__body">
            <h2 class="h4 card__heading" data-mh="card-heading">O positive</h2>
            <div class="card__text" data-mh="card-text">
              <p>O positive is the most common blood type</p>
            </div>
          </div>


          <div class="card__image">
            <img
              src="/assets/img/a-.png" width="260px" height="125px" alt="29720 000np Know Your Type - Web Buttons 400px x 170px (Blood Type) A-.png">
          </div>
          <div class="card__body">
            <h2 class="h4 card__heading" data-mh="card-heading">A negative</h2>
            <div class="card__text" data-mh="card-text">
              <p>A negative is the universal platelet type</p>
            </div>
          </div>



          <div class="card__image">
            <img
              src="/assets/img/ab+.png" width="260px" height="125px" alt="29720 000np Know Your Type - Web Buttons 400px x 170px (Blood Type) AB+.png">
          </div>
          <div class="card__body">
            <h2 class="h4 card__heading" data-mh="card-heading">AB positive</h2>
            <div class="card__text" data-mh="card-text">
              <p>Around 2% of donors have AB positive blood</p>
            </div>
          </div>


      </div>
    </div>
    <div class="col-md-4 column">
      <div>


          <div class="card__image">
            <img
              src="/assets/img/0-.png" width="260px" height="125px" alt="29720 000np Know Your Type - Web Buttons 400px x 170px (Blood Type) O-.png">
          </div>
          <div class="card__body">
            <h2 class="h4 card__heading" data-mh="card-heading">O negative</h2>
            <div class="card__text" data-mh="card-text">
              <p>O negative donors are often called 'universal donors'</p>
            </div>
          </div>


          <div class="card__image">
            <img
              src="/assets/img/b+.png"  width="260px" height="125px" alt="29720 000np Know Your Type - Web Buttons 400px x 170px (Blood Type) B+.png">
          </div>
          <div class="card__body">
            <h2 class="h4 card__heading" data-mh="card-heading">B positive</h2>
            <div class="card__text" data-mh="card-text">
              <p>Only 8% of donors are B positive but there is always a need for it</p>
            </div>
          </div>


          <div class="card__image">
            <img
              src="/assets/img/ab-.png"  width="260px" height="125px" alt="29720 000np Know Your Type - Web Buttons 400px x 170px (Blood Type) AB-.png">
          </div>
          <div class="card__body">
            <h2 class="h4 card__heading" data-mh="card-heading">AB negative</h2>
            <div class="card__text" data-mh="card-text">
              <p>AB negative is the rarest of the 8 main blood types</p>
            </div>
          </div>


      </div>
    </div>
    <div class="col-md-4 column">
      <div>


          <div class="card__image">
            <img
              src="/assets/img/a+.png"     width="260px" height="125px" alt="29720 000np Know Your Type - Web Buttons 400px x 170px (Blood Type) A+.png">
          </div>
          <div class="card__body">
            <h2 class="h4 card__heading" data-mh="card-heading">A positive</h2>
            <div class="card__text" data-mh="card-text">
              <p>A positive is the second most common blood type</p>
            </div>
          </div>


          <div class="card__image">
            <img
              src="/assets/img/b-.png"    width="260px" height="125px" alt="29720 000np Know Your Type - Web Buttons 400px x 170px (Blood Type) B-.png">
          </div>
          <div class="card__body">
            <h2 class="h4 card__heading" data-mh="card-heading">B negative</h2>
            <div class="card__text" data-mh="card-text">
              <p>Just 2% of donors are B negative, making one of the rarest blood types</p>
            </div>
          </div>




      </div>

    </div>

  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-3">
      <p style="margin-left: 8px; color: maroon;"><em>If you need blood, make a request here: </em></p>
    </div>
    <div class="col-md-1">
      <button (click)="goToRequests()" class="btn btn-sm btn-primary btn-outline-primary">Request</button>
    </div>
  </div>
</div>

