<div class="main-content" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Add User</h4>
          </div>
          <div class="content">

              <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                  <div class="row">


                    </div>
                    <div class="col-md-6">
                      <h5>Basic information</h5>
                      <div class="form-group row m-t-20">
                        <div class="col-md-12">
                          <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="firstName">
                          <div class="messages text-danger">{{nameError}}</div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-12">
                          <input type="text" class="form-control" id="surname" placeholder="Surname" [(ngModel)]="lastName">
                          <div class="messages text-danger">{{surnameError}}</div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-12">
                          <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="userName">
                          <div class="messages text-danger">{{usernameError}}</div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-12">
                          <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="email">
                          <div class="messages text-danger">{{emailError}}</div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-12">
                          <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password">
                          <div class="messages text-danger error">{{passwordError}}</div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-md-12">
                          <input type="text" class="form-control" id="name2" placeholder="Personal Number"
                                 [(ngModel)]="personalNumber">
                          <div class="messages text-danger">{{personalNumberError}}</div>
                        </div>
                      </div>


                      <div class="form-group row">
                        <div class="col-md-12">
                          <select name="select" class="form-control form-control-primary" (change)="getRoleSelected($event)">
                            <option disabled selected value="0">Select Role</option>
                            <option *ngFor="let roleView of roleViewList" value="{{roleView.id}}">{{roleView.name}}</option>
                          </select>
                        </div>
                        <div class="messages text-danger">{{roleIdError}}</div>
                      </div>
                      <div *ngIf="roleId == 2" class="col-md-12">
                        <h5 >Donator information</h5>
                        <div class="form-group row m-t-20">
                          <div class="col-md-12">
                            <input type="number" class="form-control" id="age" placeholder="Age" [(ngModel)]="age">
                            <div class="messages text-danger">{{ageError}}</div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-12">
                            <input type="number" class="form-control" id="weigh" placeholder="Weigh" [(ngModel)]="weigh">
                            <div class="messages text-danger">{{weighError}}</div>
                          </div>
                        </div>
                        <div class="form-group row">
                        <div class="col-md-12">
                        <select name="select" class="form-control form-control-primary" (change)="getGenderSelected($event)">
                          <option disabled selected value="0">Select Gender</option>
                          <option value="MALE">Male</option>
                          <option value="FEMALE">Female</option>
                        </select>
                        </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-12">
                            <select name="select" class="form-control form-control-primary" (change)="getBloodGroupSelected($event)">
                              <option disabled selected value="0">Blood Group</option>
                              <option *ngFor="let group of groupViewList" value="{{group.id}}">{{group.group}}</option>
                            </select>
                          </div>
                        </div>

                      </div>
                    </div>

                  <div class="col-md-6">
                    <div class="user-card sub-title">
                      <h5 class="centered-content">Photo</h5>
                      <div class="card-header-img">
                        <img id="img2" class="img-radius img-thumbnail" [src]="imageBase64" alt="card-img" width="230px"
                             height="230px">
                      </div>
                      <div class="row">
                        <div class="col-lg-12 m-t-15 text-center m-b-20">
                          <input id='browse-id' type='file' (change)="handleFileSelect($event)" hidden/>

                        </div>
                      </div>
                    </div>
                    <h5>Address information</h5>
                    <div class="form-group row m-t-20">
                      <div class="col-md-12">
                        <input type="text" class="form-control" id="name1" placeholder="Country" [(ngModel)]="country">
                        <div class="messages text-danger">{{countryError}}</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <input type="text" class="form-control" id="surname1" placeholder="City" [(ngModel)]="city">
                        <div class="messages text-danger" *ngIf="cityError != null || cityError != ''">{{cityError}}</div>
                      </div>
                    </div>



                  </div>

                  <hr>


                </div>

                <div class="col-md-2"></div>
              </div>

            <button type="submit" class="btn btn-info btn-fill pull-right" (click)="createUser()">Create User</button>
              <div class="clearfix"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
