<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div id="chartContainer" class="col-md-4" style="height: 370px; width: 100%;"></div>

          <div id="chartContainer2"  class="col-md-4"style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>


          <div class="card">
          <div class="table-responsive ml-2 mr-2">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Blood Group</th>
                <th>Quantity in ml</th>
              </tr>
              </thead>
              <tr *ngFor="let blood of bloodList; let i = index">
                <td>{{blood.group}}</td>
                <td>{{blood.quantity}} ml</td>

              </tr>
            </table>
          </div>
          </div>
        </div>

    </div>
</div>
